body {
    margin: 0;
    background-image: url(CHwebsite-Resources/shopMenu.png);
    background-attachment: fixed;
    /* height: 300vh; */
}
.mainContainer{
    display: flex;
    flex-direction: column;
}
.logoContainer{
    width: 100%;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    position: static;
}
.logoContainer img{
    opacity: 0.5;
    z-index: 2;
    width: 300px;
    transition: 0.5s;
}

.logoContainer img:hover{
    opacity: 1;
}

.navButtons{
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.navButtons a{
    /* background-color: white; */
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 80px;
    position: relative;
    transition: 0.3s;
    font-family: gothic;
    opacity: 0.3;
}
.navButtons a:hover{
    opacity: 1;
    /* background-color: black; */
}

.baccarats a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 5px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
}

.socks a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 5px;
    width: 0;
    right: 0;
    bottom: 0px;
    transition: 0.5s;
}

.navButtons a:hover:after{
    width: 100%;
    opacity: 1;

}
